<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <hr class="my-4"> {{#if isUser}}
    <p>Howdy, {{user.username}}!</p>
    <a class="btn btn-primary btn-lg" href="/game" role="button">Play Trivia</a>
    <a class="btn btn-primary btn-lg" href="/" role="button">About</a>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
    {{/if}}
  </div>
</div>

<div class="container">
  <h1 class="display-4">Dashboard Info</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus enim, placerat eu dui in, vestibulum mollis ante. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam mi ante, efficitur convallis
    magna vitae, faucibus imperdiet nisi. Nam tempor orci vel ante blandit pretium. Donec at diam nisi. Maecenas laoreet
    nunc sit amet leo rhoncus, ac gravida elit volutpat. Aliquam erat volutpat. Proin fringilla libero vel porttitor placerat.
    Vivamus nec mauris in arcu convallis pretium. Suspendisse semper volutpat enim id lobortis. Curabitur dapibus dapibus
    velit, tristique pretium odio lacinia et. Praesent id tortor et ex luctus dictum.
  </p>
</div>