body {
  /* background-color: #825D2F; */
  background-image: url("../images/background.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    /* opacity: .25; */
    /* filter: alpha(opacity=50);  */


}
html *
{
   /* font-size: 1em !important; */
   color: #4e2710 !important;
   font-family: 'Times New Roman', Times, serif !important;
   text-shadow: 1px -1px #D9CEC1;
   -webkit-text-stroke: 1px #4e2710;
}

.form-control {
  margin: 4px !important;
}
.list-group-item {
  line-height: 2.5;
}
.p
{
  font-size: 18px;
  font-weight: bold;
}
.r1{
  font-size: 12px;
}
.main{
  height: 200px;
}
.h1{
  margin-left: 820px;
  font-size: 12px;
}
.btn {
  background-color: #7c736c;
  border-color: #7c736c;
}
.btn-primary:hover {
  background-color: #7c736c !important;
  border-color: #7c736c !important;
}
.jumbotron {
  background-color: transparent; 
  background-image: none;
  opacity: 1;
}
.img {
  height: 75px;
  width: 100px;
  float: left;
}
.form-control {
  text-shadow: none !important;
  -webkit-text-stroke: 0px  #4e2710 !important;
}