body {
  background-color: #825D2F;
}


.list-group-item {
  line-height: 2.5;
}
.p
{
  font-size: 18px;
  font-weight: bold;
}
.r1{
  font-size: 12px;
}
.main{
  height: 200px;
}
.h1{
  margin-left: 820px;
  font-size: 12px;
}
.drkbtn {
  background-color: #7c736c
}

.jumbotron {
  background-color: #825D2F;
}
.img {
  height: 75px;
  width: 100px;
  float: left;
}
.display-4 {
  color: #F0E4D5
}
